{% extends 'base.html.twig' %}

{% block body %}
    <h1>Account list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Company Name</th>
                <th>Regno</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Status</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr>
                <td><a href="{{ path('account_show', { 'id': account.id }) }}">{{ account.name }}</a></td>
                <td>{{ account.company.name }}</td>
                <td>{{ account.regNo }}</td>
                <td>{{ account.description }}</td>
                <td>{% if account.status %}Yes{% else %}No{% endif %}</td>
                <td>{{ account.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('account_show', { 'id': account.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('account_edit', { 'id': account.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('account_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
