{% extends 'base.html.twig' %}

{% block body %}
    <h1>PurchaseOrder creation</h1>
    <script type="text/javascript">
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.om');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
    {{ form_start(form) }}
        {{ form_row(form.supplier) }}
    <input type="submit" value="Create" />
        <h3>Purchase Order Details</h3>
        <ul class="om" data-prototype="{{ form_widget(form.purchaseOrderDetails.vars.prototype)|e('html_attr') }}">
            {% for detail in form.purchaseOrderDetails %}

            <li>{{ form_row(detail.idItem) }}</li>
                {#<td>{{ form_row(detail.unit_price) }}</td>#}
                {#<td>{{ form_row(detail.qty) }}</td>#}
                {#<td>{{ form_row(detail.price) }}</td>#}
            {% endfor %}

        </ul>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('purchaseorder_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}


